[submodule "transformers"]
	path = transformers
	url = https://github.com/RepnikovPavel/transformers.git
[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/RepnikovPavel/flash-attention.git
[submodule "dots.mocr"]
	path = dots.mocr
	url = https://github.com/RepnikovPavel/dots.mocr.git
